{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
<div class="container">
        <h1 class="display-1">Récupération mot de passe</h1>
        {{ form(form) }}
        </div>
{% endblock %}